.card {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  background: var(--bg);
  color: var(--color);
  box-shadow: 5px 5px 55px var(--color);
  border: 3px solid var(--color);
  border-radius: 15px;
}

.card h6 {
  font-family: 'Great Vibes', cursive;
  font-size: 20px;
  text-align: center;
  margin: 5px;
}

.card h2 {
  margin: 10px;
  font-family: 'Playfair Display', serif;
}

.card p {
  color: red;
}

.card h3 {
  margin: 10px;
  font-family: 'Oswald', sans-serif;
}